<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- JQuery -->
  <script src="/behavior/jquery.min.3.3.1.js" charset="utf-8"></script>

  <!-- Materialize Link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/VIEW_APP.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script src="/behavior/admin/bh_Admin.js" charset="utf-8"></script>

  <title>Reservations</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper z-depth-2">
      <a href="/profHome" class="brand-logo">{{user}}</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"> <i class="large material-icons">view_headline</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if user}}
          <li><a href="/home">Home</a></li>
          <li><a href="/authorize/signout">Sign Out</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {{#if user}}
      <li><a href="/home">Home</a></li>
      <li><a href="/authorize/signout">Sign Out</a></li>
    {{/if}}
  </ul>
  <!-- END NAVBAR -->

  <div class="container">
    <!--check if error and display a message-->
    {{#if error}}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {{/if}}
    <!--check if success and display a message-->
    {{#if success}}
      <div class="alert alert-success" role="alert">
        {{success}} {{user}}
      </div>
    {{/if}}
  </div>

  <div class="row z-depth-2">
    <form action="/adminHome/Reservations" method="POST">

      <div class="col s3">
        <table>
          <tbody>
            {{#each appPending}}
              <tr>
                <td>
                  <p>{{this.name}}</p>
                  <p>{{this.email}}</p>
                  <p><strong>Time:</strong> {{this.start}} - {{this.end}}</p>
                  <p><strong>Date:</strong> {{this.date}}</p>
                  <div class="button">
                    <button class="btn waves-effect waves-light button " type="submit" name="Dbutton" value="{{this.resID}},DECLINED">Decline</button>
                  </div>
                  <div class="button2">
                    <button class="waves-effect waves-light btn button2" type="submit" name="Abutton" value="{{this.resID}},ACCEPTED">Accept</button>
                  </div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col s9">

        <!--=============== Date picker Start ===============-->
        <div class="row">
          <div class="col s6" style="width:30%;">
            <input id="date" name="date" type="text" class="datepicker" placeholder="mm/dd/yyyy">
          </div>
          <div class="col s6" style="width:30%;">
            <select name="status">
              <option disabled selected>View Reservations</option>
              <option value="ACCEPTED">Accepted</option>
              <option value="DECLINED">Declined</option>
            </select>
          </div>
          <div class="col s6" style="width:30%;">
            <button class="waves-effect waves-light btn button3" type="submit" name="searchReservation" value="True">Search for possible Reservation</button>
          </div>
        </div>
        <!--=============== Date picker Start ===============-->

        <table>
          <thead>
            <tr id="infoUser">
              <th>Student Name</th>
              <th>Student Email</th>
              <th>Start Hour</th>
              <th>End Hour</th>
              <th>Date</th>
              <th>Status</th>
              <th>Chaneg Status</th>
            </tr>
          </thead>

          <tbody>
            {{#each results}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.start}}</td>
                <td>{{this.end}}</td>
                <th>{{this.date}}</th>
                <td>{{this.status}}</td>
                <td><button class="waves-effect waves-light btn button3" type="button" name="button">Change Status</button> </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
  </div>
  </form>
  <!-- Javascript -->
  <script type="text/javascript" src="/behavior/VIEW_APP.js"></script>
</body>

</html>
