<!-- <div class="jumbotron">
  <h1>Node Graph Tutorial</h1>
  <p class="lead">This sample app shows how to use the Microsoft Graph API to access Outlook data from Node.js</p>
  {{#if user}}
    <p>Welcome {{user}}!</p>
  {{else}}
    <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
  {{/if}}
</div> -->

<div id="R_boxMaster">

  <div class="reservation-box tableInfo">
    <div class="info-box">
      <div class="img-box" style="background-image: url('/imgs/reservation.jpg')"></div>
      <div class="textStyle">
        <a href="home{{urlReservation}}">Make a Reservation!</a>
      </div>
    </div>
  </div>

  <div class="appointment-box tableInfo">
    <div class="info-box">
      <div class="img-box" style="background-image: url('/imgs/teacherApp.png')"></div>
      <div class="textStyle">
        <a href="home{{urlAppoitment}}">Make an appointment!</a>
      </div>
    </div>
  </div>

</div>
