<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Materialize Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <link rel="stylesheet" href="/stylesheets/reservation.css">


    <title>Reservation</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/home" class="brand-logo">{{user}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if user}}
          <li><a href="/home">Home</a></li>
          <li><a href="/authorize/signout">Sign Out</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>

    <form action="/home/reservation" method="post">
      <div class="row chooseDate z-depth-2">
      <!-- =================== Form Starts ==================== -->
          <div class="col s4">
            <select>
              <option value="" disabled selected>Select Room</option>
              {{#each id}}
              <option  name="room[id]">{{this}}</option>
              {{/each}}
            </select>
          </div>

          <div class="col s4">
            <input type="text" class="datepicker" name="date" placeholder="Choose The Date">
          </div>

          <div class="col s4">
            <button class="btn" type="submit" name="checkAvailable">Check Availability</button>
          </div>
        </div>

        <div class="row reservationOPT z-depth-2">
          <div class="col s4">
            <input type="text" class="timepicker" name="start" placeholder="Choose Start Time">
          </div>

          <div class="col s4">
            <input type="text" class="timepicker" name="end" placeholder="Choose End Time">
          </div>

          <div class="col s4">
            <button class="btn" type="submit" name="SubmitReservation">Submit Reservation</button>
          </div>
        </div>
     </form>
    <!-- =================== Form Ends ==================== -->

    <div class="row notAvailable z-depth-2">

      <div class="col s12">
        <p>These are the hours <b>NOT</b> available.</p>
        <table>
          <thead>
            <tr>
              <th>Description</th>
              <th>Starts</th>
              <th>Ends</th>
              <th>Day</th>
            </tr>
          </thead>
          <tbody>
            {{#each id}}
            <tr>
              <td class="td" >{{this.description}}</td>
              <td class="td" >{{this.start}}</td>
              <td class="td" >{{this.end}}</td>
              <td class="td" >{{this.day}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

    </div>

    <!-- === Javascript === -->
    <script type="text/javascript" src="/behavior/Reservation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </body>
</html>
