<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--===============================================================================================-->
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">

  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!--===============================================================================================-->

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <link rel="shortcut icon" type="image/png" href="/imgs/interb.jpg">
  <link href="https://fonts.googleapis.com/css?family=Krub:400,700" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/index.css">

  <title>{{title}}</title>
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="/home" class="brand-logo">{{user}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if user}}
          <li><a href="/home">Home</a></li>
          <li><a href="/authorize/signout">Sing Out</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <div class="input-field col s12">

    <form id="formBox" action="/home/reservation" method="POST">

      <div id="selectBox">
        <label for="sOption">Building</label>
        <select id="sOption" multiple name="buildingOption">
          <option name= "edifAll" value="*" selected>All</option>
          <option name= "edifG"   value="G">Edif G</option>
          <option name= "edifF"   value="F">Edif F</option>
          <option name= "edifC"   value="C">Edif C</option>
        </select>
      </div>

      <div class="dateBox">
        <input id="date" name="date" type="text" class="datepicker" value="Date: mm/dd/yyyy">
      </div>

      <input type="submit" value="submit">
    </form>
  </div>

  <div id="table-box">

    <div class="table100 ver3 m-b-110">
  		<div class="table100-head">
  			<table>
  				<thead>
  					<tr class="row100 head">
              <th class="cell100 column5">Building</th>
              <th class="cell100 column2">Room</th>
  						<th class="cell100 column1">Description</th>
              <th class="cell100 column4">Hour</th>
  					</tr>
  				</thead>
  			</table>
  		</div>

  		<div class="table100-body js-pscroll">
  			<table>

          <tbody>
            {{#each results}}
    					<tr class="row100 body">
                <td class="cell100 column2">{{this.edifName}}</td>
                <td class="cell100 column3">{{this.roomID}}</td>
  							<td class="cell100 column1">{{this.description}}</td>
  							<td class="cell100 column5">10/25 | 8:00 - 9:00 am </td>
  					  </tr>
            {{/each}}
  				</tbody>

        </table>
  		</div>

    </div>
  </div>

  <!--===============================================================================================-->
<!--===============================================================================================-->
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>

	<script>

    $('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});

    $(document).ready(function(){
      $('select').formSelect();
    });

    $(document).ready(function(){
      $('.datepicker').datepicker();
    });

    // //para que no actualize siempre
    // $("#formBox").submit(function(e) {
    //     e.preventDefault();
    // });

    function ckechBtn(){
      var checkedValue =  $("#sOption" ).val();
      checkedValue.forEach(function(elem){
        console.log(elem);
      });
      return true;
    }
	</script>
<!--===============================================================================================-->

</body>
</html>
