<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Appointment</title>
    <link rel="stylesheet" href="SAHstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  </head>
  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="/home" class="brand-logo">{{user}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if user}}
            <li><a href="/home">Home</a></li>
            <li><a href="/authorize/signout">Sign Out</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>

  <!-- First Row Begins -->
  <div class="row">
    <!-- First Box Start-->
    <div class="box0">
      <div id="box" class="col s3">
        <div id="uno" >
          <h3 id="ini"><a href="http://google.com">{{initial}}</a></h3>
        </div>
        <div class="2box">
          <p>{{professorName}}</p>
          <a>{{professorEmail}}</a>
          <p>{{Department}}</p>
        </div>
      </div>
    </div>
    <!-- First Box End-->


  </body>
</html>
