<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/behavior/STUD_APP_HUB_PT1_Beha.js"></script>
    <!-- Materialize Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Font Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS Style Sheet -->
    <link rel="stylesheet" href="/stylesheets/STUD_APP_HUB_PT2.css">

    <link rel="stylesheet" href="/stylesheets/flahsStyle.css">


    <title>Student Professor Appointment Hub</title>
  </head>
  <body>

    <!-- NavBar Starts Here -->
    <nav>
      <div class="nav-wrapper z-depth-2">
        <a href="/home" class="brand-logo">{{user}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if user}}
            <li><a href="/home">Home</a></li>
            <li><a href="/authorize/signout">Sign Out</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>

    <!-- TIENEN QUE CAMBIAR ESTE ESTILO PARA UNO MAS BONITO -->
    <div class="containerFlash">
      <!--check if error and display a message-->
      {{#if error}}
        <div class="errorColor" role="alert">
          <h4>{{error}}</h4>
        </div>
      {{/if}}
      <!--check if success and display a message-->
      {{#if success}}
        <div class="sucessColor" role="alert">
          <h4>{{success}}</h4>
        </div>
      {{/if}}
   </div>
   <!-- ================================================================= -->
    <!-- Row Starts Here -->

    <div class="row">
      <div class="col s3 ">
        <!-- Grey navigation panel -->
        <!-- Professor Profile Starts -->

        <div class="profUser z-depth-3">
          <div class="Icon">
            <p id="Initial"> </p>
          </div>
          <div class="profInfo">
            <p id="profName" > {{profName}} </p>
            <p class="profContact" >Professor of the Faculty</p>
            <p class="profContact" >Inter American University of Puerto Rico</p>
            <p class="profContact" >Contact Info:</p>
            <a class="profContact" > {{profEmail}} </a>
          </div>
        </div>
        <!-- Professor Profile Ends -->
      </div>


      <div class="col s9 ">
        <!-- Teal page content -->
        <div class="dateBox">
          <form  action="/home/appointment/{{profEmail}}" method="POST">
            <div class="dateBoxWithBnt">
              {{#if datePickedByUser}}
                <input id="date" name="date" type="text" class="datepicker" value="{{datePickedByUser}}">
              {{else}}
                <input id="date" name="date" type="text" class="datepicker" placeholder="mm/dd/yyyy">
              {{/if}}
              <button class="waves-effect waves-light btn" type="submit" name="search" value="True" >Search for available Date</button>
            </div>
        </div>

        <div class="profHourBox z-depth-3">
            <table>
              <thead>
                <tr>
                    <th>Choose a time</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
              </thead>
              <tbody>
                  {{#each results}}
                  {{#if start}}
                    <tr>
                      <td>
                        <label>
                          <input name="hourChoice" type="checkbox" class="check" value="{{this.start}}, {{this.end}}" /><span></span>
                        </label>
                      </td>
                      <td>{{this.start}}</td>
                      <td>{{this.end}}</td>
                    </tr>
                  {{/if}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Row Ends Here -->

        <div class="row_two">
          <button class="btn waves-effect waves-light z-depth-2" type="submit" name="btnSt" value="True">
            Submit
          </button>
        </div>
    </form>

    <!--============================== Javascript ================================-->
    <script type="text/javascript" src="/behavior/STUD_APP_HUB_PT2_Beha.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </body>
</html>
